<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.ICdDao">

    <insert id="insert" parameterType="Cd">
        INSERT INTO cd (cd_name,create_user,create_time,cd_pic,description)
        VALUES
        (#{cdName},#{createUser},#{createTime},#{cdPic},#{description})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM cd WHERE id= #{id}
    </delete>

    <update id="update" parameterType="Cd">
        UPDATE cd
        <set>
            cd_name=#{cdName},
            cd_pic=#{cdPic},
            description=#{description},
        </set>
        WHERE id=#{cdId}
    </update>

</mapper>