<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.ICdDao">

<select id="queryAll" resultMap="cdInfoMap">
        SELECT
        c.*,s.singer_name
        FROM
        cd c
        LEFT JOIN singer s ON s.id = c.singer_id
    </select>
    <resultMap id="cdInfoMap" type="Map">
        <result column="id" property="cdId"/>
        <result column="cd_name" property="cdName"/>
        <result column="singer_id" property="singerId"/>
        <result column="singer_name" property="singerName"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="description" property="description"/>
    </resultMap>
</mapper>