<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.ISingerDao">

    <insert id="insert" parameterType="Singer">
        INSERT INTO singer (id,singer_name,singer_nick_name,singer_pic,singer_gender,description)
        VALUES
        (#{id},#{singerName},#{singerNickName},#{singerPic},#{singerGender},#{description})
    </insert>

</mapper>

