<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.ISingerDao">

    <select id="queryAll" resultMap="singerMap">
        SELECT * FROM singer
    </select>
    <resultMap id="singerMap" type="Singer">
        <result column="id" property="id"/>
        <result column="singer_name" property="singerName"/>
        <result column="singer_nick_name" property="singerNickName"/>
        <result column="singer_gender" property="singerGender"/>
        <result column="create_time" property="createTime"/>
        <result column="singer_pic" property="singerPic"/>
        <result column="description" property="description"/>
    </resultMap>
</mapper>

