<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.ISongDao">

    <insert id="insert" parameterType="Song">
        INSERT INTO song (cd_id,song_name,song_url,singer,create_time,song_pic,song_type,description)
         VALUES
        (#{cdId},#{songName},#{songUrl},#{singer},#{createTime},#{songPic},#{songType},#{description})
    </insert>

    <delete id="deleteSongsByCd" parameterType="String">
        delete from song where id in (
        SELECT * from (select s.id from cd c left join song s on s.cd_id = c.id WHERE c.id = #{id}) a
        )
    </delete>
    <delete id="delete" parameterType="String">
        DELETE  FROM song WHERE id = #{id}
    </delete>
</mapper>

