<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.ISongDao">


    <delete id="deleteSongsByCd">
        delete from song where id in (
        SELECT * from (select s.id from cd c left join song s on s.cd_id = c.id WHERE c.id = #{id}) a
        )
    </delete>

    <select id="queryAll" resultMap="songAllMap">
        SELECT
        s.*,c.cd_name,c.singer_id,si.singer_name
        FROM
        song s
        LEFT JOIN cd c ON s.cd_id = c.id LEFT JOIN singer si ON si.id = c.singer_id;
    </select>
    <resultMap id="songAllMap" type="Map">
        <result column="id" property="id"/>
        <result column="cd_id" property="cdId"/>
        <result column="singer_id" property="singerId"/>
        <result column="song_name" property="songName"/>
        <result column="cd_name" property="cdName"/>
        <result column="song_url" property="songUrl"/>
        <result column="singer" property="singer"/>
        <result column="singer_name" property="singerName"/>
        <result column="create_time" property="createTime"/>
        <result column="song_pic" property="songPic"/>
        <result column="song_type" property="songType"/>
        <result column="description" property="description"/>
    </resultMap>

</mapper>

