<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.UserDao">

    <insert id="insertUser" parameterType="User">
      INSERT INTO user (user_code,user_name,password,phone_number,email,create_time) VALUES (#{userCode},#{userName},#{password},#{phoneNumber},#{email},#{createTime})
    </insert>
    <insert id="updateUser" parameterType="Map">
      update user (user_code,user_name,phone_number,email) VALUES (#{userCode},#{userName},#{phoneNumber},#{email},#{createTime})
      where id = #{userId}
    </insert>
    <select id="queryUserByUserCode" parameterType="String" resultMap="userMap" >
        SELECT * FROM user WHERE user_code = #{userCode}
    </select>
    <select id="queryUserByUserId" parameterType="int" resultMap="userMap" >
        SELECT * FROM user WHERE id = #{userId}
    </select>
    <resultMap id="userMap" type="User">
        <result column="user_code" property="userCode"/>
        <result column="pass_word" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
</mapper>

