<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.music.dao.IUserDao">

    <insert id="insertUser" parameterType="User">
      INSERT INTO user (user_code,user_name,password,phone_number,email,create_time) VALUES (#{userCode},#{userName},#{password},#{phoneNumber},#{email},#{createTime})
    </insert>
    <select id="queryUserByUserCode" parameterType="String" resultMap="userMap">
        SELECT * FROM user WHERE user_code = #{userCode}
    </select>
    <select id="queryUserByUserId" parameterType="String" resultMap="userMap">
        SELECT * FROM user WHERE id = #{userId}
    </select>
    <select id="queryAllUser" resultMap="userMap">
        SELECT user_code,user_name,phone_number,email,create_time FROM `user`;
    </select>
    <delete id="deleteUserByUserId">
        DELETE FROM user WHERE id = #{userId}
    </delete>

    <update id="updateUser" parameterType="map">
        UPDATE user
        <set>
            user_name=#{userName},
            user_code=#{userCode},
            phone_number=#{phoneNumber},
            email=#{email}
        </set>
        WHERE id=#{userId}
    </update>

    <resultMap id="userMap" type="User">
        <result column="user_code" property="userCode"/>
        <result column="password" property="password"/>
        <result column="user_name" property="userName"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
</mapper>

